<!DOCTYPE html>
<html lang="en">

<!-- Christopher He did this file -->

<head>
    <%- include("../partials/header") %>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/clubs.css" />
</head>

<body>
    <%- include("../partials/navbar") %>
    <%- include("../partials/flash") %>

    <!-- Add HTML body here. -->
    <div class="collection">
        <% if (currentUser) { %>
        <a href="events/new"><button class="btn btn-success">Add Event</button></a>
        <% } %>
        <ul class="list-group">
            <% for(let event of events) {%>
            <li class="list-group-item">
                <a href="/events/<%= event.id %>"><%= event.name %></a>
            </li>
            <% } %>
        </ul>
    </div>

    <%- include("../partials/footer") %>
</body>

</html>
