<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>

    <!-- Daniel Ortiz-Chaves-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/lists.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <%- include("../partials/navbar") %>
    <%- include("../partials/flash") %>
    
    <section id="tabs" class="project-tab">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Reading</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Favorites</a>
                        </div>
                    </nav>
<<<<<<< HEAD
                    <div class="tab-content justify-content-between" id="nav-tabContent">
                        <div class="tab-pane fade show active d-flex justify-content-between" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="d-flex row justify-content-between" style="margin-right:1rem;">
                                <table class="table col" cellspacing="0">      
=======
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="d-flex justify-content-between">
                                <table class="table" cellspacing="0">
>>>>>>> 366e47be4ea4a85f6c7efdc0646c78c6fbbd41db
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Author</th>
                                            <th>Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let read of toReads) {%>
                                            <tr>
                                                <td><a href="/books/<%= read.id %>"><%= read.title %></a></td>
                                                <td><a href="/authors/<%= read.author_id %>"><%= read.author_id %></a></td>
                                                <td><p><%= read.notes %></p></td>
                                                <form action="/lists/reading/<%= read.id %>" method="DELETE">

                                                    <td><button href="/lists/reading/<%= read.id %>" class="btn btn-secondary">Remove</button></td>
                                                    
                                                </form>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                            
                            <button style="width:160px; height:60px;" type="button" class="btn btn-primary col" data-bs-toggle="modal" data-bs-target="#bookSearchModal">
                                Add to your reading list
                            </button>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="d-flex row justify-content-between" style="margin-right:1rem;">
                                <table class="table col" cellspacing="0">      
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Author</th>
                                            <th>Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let fav of favorites) {%>
                                            <tr>
                                                <td><a href="/books/<%= fav.id %>"><%= fav.title %></a></td>
                                                <td><a href="/authors/<%= fav.author_id %>"><%= fav.author_id %></a></td>
                                                <td><p><%= fav.notes %></p></td>
                                                <td><a href="/lists/favorites/<%= fav.id %>" class="btn btn-secondary">Remove</a></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                            
                            <button style="width:160px; height:60px;" type="button" class="btn btn-primary col" data-bs-toggle="modal" data-bs-target="#bookSearchModal2">
                                Add to your favorites list
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <%- include("../partials/footer") %>
</body>



<div class="modal fade" id="bookSearchModal" tabindex="-1" aria-labelledby="bookSearchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="BookSearchModalLabel">Add Book to your Reading List</h5>

                <form action="/lists/searchRead" method="GET">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="title">
                    </div>
        
                    <div class="mb-3">
                        <label class="form-label" for="first_name">Author First Name</label>
                        <input class="form-control" type="text" id="first_name" name="first_name">
                    </div>
        
                    <div class="mb-3">
                        <label class="form-label" for="last_name">Author Last Name</label>
                        <input class="form-control" type="text" id="last_name" name="last_name">
                    </div>
        
                    <div class="mb-3">
                        <label class="form-label" for="genre">Genre</label>
                        <input class="form-control" type="text" id="genre" name="genre">
                    </div>
                <button href="/lists/searchRead" class="btn btn-success" data-bs-dismiss="modal">Search for Books</button>
                    
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        
        </div>
    </div>
</div>

<div class="modal fade" id="bookSearchModal2" tabindex="-1" aria-labelledby="bookSearchModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="BookSearchModalLabel2">Add Book to your Favorites List</h5>

                <form action="/lists/searchFav" method="GET">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="title">
                    </div>
        
                    <div class="mb-3">
                        <label class="form-label" for="first_name">Author First Name</label>
                        <input class="form-control" type="text" id="first_name" name="first_name">
                    </div>
        
                    <div class="mb-3">
                        <label class="form-label" for="last_name">Author Last Name</label>
                        <input class="form-control" type="text" id="last_name" name="last_name">
                    </div>
        
                    <div class="mb-3">
                        <label class="form-label" for="genre">Genre</label>
                        <input class="form-control" type="text" id="genre" name="genre">
                    </div>
                <button href="/lists/searchFav" class="btn btn-success" data-bs-dismiss="modal">Search for Books</button>
                    
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        
        </div>
    </div>
</div>

</html>