<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/books.css" />
</head>

<body>
    <%- include("../partials/navbar") %>
    <%- include('../partials/flash') %>

    <!-- Add HTML body here. -->
    <div class="container">
        <h1 class="text-center">Edit Book</h1>
        <form action="/books/<%=book.id%>?_method=PUT" method="POST">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="title" value="<%= book['title'] %>" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="author">Author</label>
                <input class="form-control" type="text" id="author" name="author" value="<%= book['author'] %>" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="ISBN">ISBN</label>
                <input class="form-control" type="text" id="ISBN" name="ISBN" value="<%= book['ISBN'] %>" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="cover">Cover</label>
                <input class="form-control" type="text" id="cover" name="cover" value="<%= book['cover'] %>" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="country">Country</label>
                <input class="form-control" type="text" id="country" name="country" value="<%= book['country'] %>" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="language">Language</label>
                <input class="form-control" type="text" id="language" name="language" value="<%= book['language'] %>" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="genre">Genre</label>
                <input class="form-control" type="text" id="genre" name="genre" value="<%= book['genre'] %>" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="description" value="<%= book['description'] %>" required></textarea>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Book</button>
            </div>
        </form>
        <a href="/books">All Books</a>
    </div>

    <%- include("../partials/footer") %>
</body>

</html>