<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/books.css" />
</head>

<body>
    <%- include("../partials/navbar") %>
    <%- include('../partials/flash') %>

    <!-- Add HTML body here. -->
    <br><br><br><br><br><br>
    <ul class="list-group">
        <% for(var i=0; i<data.length; i++) {%>
        <li class="list-group-item">
            <%= data[i]['title'] %>
        </li>
        <% } %>
    </ul>

    <%- include("../partials/footer") %>
</body>

</html>