<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/books.css" />
</head>

<body>
    <%- include("../partials/navbar") %>
    <%- include("../partials/flash") %>

    <!-- Add HTML body here. -->
    <div class="collection">
        <a href="books/new"><button class="btn btn-success">Add Book</button></a>
        <ul class="list-group">
            <% for(let book of books) {%>
            <li class="list-group-item">
                <a href="/books/<%= book.id %>"><%= book.title %></a>
            </li>
            <% } %>
        </ul>
    </div>

    <%- include("../partials/footer") %>
</body>

</html>