<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/books.css" />
</head>

<body>
    <%- include("../partials/navbar") %>
    <%- include('../partials/flash') %>

    <!-- Add HTML body here. -->
    <br><br><br><br><br><br>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Book Name. Book pic above.</p>
        </div>
    </div>

    <% for(var i=0; i<data.length; i++) {%>
      <%= data[i]['title'] %>
    <% } %>

    <div class="card">
        <div class="card-body">
            Book Description:
        </div>
    </div>

    <%- include("../partials/footer") %>
</body>

</html>
