<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/books.css" />
</head>

<body>
    <%- include("../partials/navbar") %>
    <%- include('../partials/flash') %>

    <!-- Add HTML body here. -->
    <ul class="list-group">
        <% for(var i=0; i<books.length; i++) {%>
        <li class="list-group-item">
            <a href="/books/<%= books[i]['id'] %>"><%= books[i]['title'] %></a>
        </li>
        <% } %>
    </ul>

    <%- include("../partials/footer") %>
</body>

</html>