<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/books.css" />
</head>

<body class="outer">
    <%- include('../partials/flash') %>
    <%- include("../partials/navbar") %>

    <!-- Add HTML body here. -->
    <div class="container w-100">
        <div class="card w-100 align-items-center">
            <img class="card-img-top w-25 h-25" src="<%= book['cover'] %>" alt="Card image cap" width="128" height="185">
            <div class="card-body">
                <p class="card-text display-5 fw-bold">
                    <%= book['title'] %>.
                </p>
                <div class="card-body">
                    <p class="display-7 fw-bold">Book Description:</p> <%= book['description'] %>
                </div>
            </div>
        </div>
    </div>

    <%- include("../partials/footer") %>
</body>

</html>