<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/authors.css" />
</head>

<body>
    <%- include("../partials/navbar") %>
    <%- include("../partials/flash") %>

    <!-- Add HTML body here. -->
    <div class="collection">
        <% if (currentUser) { %>
        <a href="authors/new"><button class="btn btn-success">Add Author</button></a>         
        <% } %>
        <ul class="list-group">
            <% for(let author of authors) {%>
            <li class="list-group-item">
                <a href="/authors/<%= author.id %>"><%= author.first_name %> <%= author.last_name %></a>
            </li>
            <% } %>
        </ul>
    </div>

    <%- include("../partials/footer") %>
</body>

</html>