<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/authors.css" />
</head>

<body>
    <%- include("../partials/navbar") %>
    <%- include("../partials/flash") %>

    <!-- Add HTML body here. -->
    <div class="collection">
        <a href="authors/new"><button class="btn btn-success">Add Author</button></a>
        <ul class="list-group">
            <% for(var i=0; i<authors.length; i++) {%>
            <li class="list-group-item">
                <a href="/authors/<%= authors[i]['id'] %>"><%= authors[i]['first_name'] %> <%= authors[i]['last_name'] %></a>
            </li>
            <% } %>
        </ul>
    </div>

    <%- include("../partials/footer") %>
</body>

</html>