<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/authors.css" />
</head>

<body>
    <%- include("../partials/flash") %>
    <%- include("../partials/navbar") %>

    <!-- Add HTML body here. -->
    <div class="show-container">
        <div class="card-body">
            <h5 class="card-title">
                <%= author.first_name %> <%= author.last_name %>
            </h5>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Birth Date: </strong><%= new Date(author.birth_date).toLocaleDateString("en-US") %></li>
                <% if (author.website) { %>
                <li class="list-group-item"><strong>Website: </strong><a href="<%= author.website %>"><%= author.website %></a></li>
                <% } %>
                <li class="list-group-item"><strong>Bio: </strong><%= author.bio %></li>
            </ul>
        </div>

        <% if (currentUser && (currentUser.type === 'admin' || parseInt(currentUser.id, 10) === parseInt(author.user_id, 10))) { %>
        <div class="card-body">
            <a href="/authors/<%= author.id %>/edit" class="btn btn-success">Edit Author</a>
        </div>
        <% } %>
    </div>

    <%- include("../partials/footer") %>
</body>

</html>